body{
    background-color: #f7f9db;
}

#gameContainer{
    display: grid;
    margin: auto;
    z-index: 2;
} 

#gameCanvas{
    border: 3px solid;
    color: #6ca16c;
    background-color:  #dbf9db ;
    margin: auto;
}

#score{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
    color: #457979;
    margin: auto;
}

#startButton{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-color: #6fa7a7;
    background-color: #dbf9f9;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
}

#settingsButton{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 3px solid;
    border-color: #6fa7a7;
    background-color: #dbf9f9;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
}

#checkboxColors  {
    display:inline-block;
    margin-left:10px;
} 

#Settings{
    display: none;
    z-index: 1;
}
